html
  head
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    link(rel='stylesheet' href='/styles/styles.css')
    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/typeahead.js/dist/typeahead.jquery.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Carpe Otium Tracker
  body
    ul.nav.nav-tabs
      li(class={active: tab == '/'})
        a(href='/') Home
      li(class={active: tab == '/results'})
        a(href='/results') Results
      if currentUser
        li
          a(href='/logout') Logout
    .container
      h3 Carpe Otium Tracker
      block content
      <pre><a href='https://github.com/ericpkatz/flex_status' target='_blank'>See it on github</a></pre>
    script(type="text/javascript" src="/javascripts/app.js")
