extends layout
block content
  table.table
    for user in users
      tr
          td
            a(href='/#{user._id}')
              =user.initials
          for workshop in workshops
            td
              span.label(class={ 'label-danger': user[workshop] == 0, 'label-warning': user[workshop] == 1, 'label-default': user[workshop] == 2, 'label-success': user[workshop] > 2 })
                =user[workshop]
