extends layout
block content
  table.table
    thead
      tr
        th User
        for ws in workshops
          th 
            =ws
    for user in users
      tr
          td
            a(href='/#{user._id}')
              =user.initials
          for workshop in workshops
            td(width=(parseInt(100/(workshops.length + 1))) + '%')
              span.label(class={ 'label-danger': user[workshop] == 0, 'label-warning': user[workshop] == 1, 'label-default': user[workshop] == 2, 'label-success': user[workshop] > 2 })
                =user[workshop]
